@charset 'utf-8';
@import 'basscss';

.app__header {
  @extend .bg-black;
  @extend .mb2;
}

/*
 * postcss-extend doesn't seem to recognize postcss-precss inheritance rules
 * They say the spec isn't yet clear about that part
 * So I'm unable to nest this under .header above
 */
.app__header .btn {
  @extend .py2;
  @extend .white;
}

.app__body {
  @extend .container;
}
